{% extends 'core/plantilla.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}
    <article>
      <section id="banner"><img src="{% static 'core/img/fondo.png' %}" /></section>
      <section id="info">
        <div class="info">
          <img src="{% static 'core/img/tarjeta.png' %}" alt="" />
          <div>
            <h3>Paga hasta con 2 tarjeta de credito</h3>
            <p></p>
          </div>
        </div>
        <div class="info">
          <img src="{% static 'core/img/envios.png' %}" alt="" />
          <div>
            <h3>Envio a todos chile</h3>
            <p>¡Envios gratis por compras superiores a $50.000!</p>
          </div>
        </div>
        <div class="info">
          <img src="{% static 'core/img/medalla.png' %}" alt="" />
          <div>
            <h3>Garanti de satisfaccion</h3>
            <p>¡Devuelve tu compra sin trabas!</p>
          </div>
        </div>
      </section>
      <h1 id="titulo-catalogo">Catalagos productos</h1>
      <section>
        {% if msg %}
        <div class="alert alert-success" role="alert">
        {{msg}}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
        {{error}}
        </div>
        {% endif %}
        <div id="productos">
          {% for iteam in productos%}
            <div class="producto">
              <img src="{{ iteam.imagen.url }}" alt="{{ iteam.cateogria}}" />
              <h3>{{iteam.nombre}}</h3>
              <p>{{iteam.descripcion}}</p>
              <h3>&dollar;{{iteam.precio  | intcomma }}</h3>
              <button>Agregar al carro</button>
              {% if user.is_authenticated %}
              <a href="{% url 'addTOList' iteam.id %}"> añadir a lista de deseos</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </section>
      <section id="redes">
        <img src="{% static 'core/img/facebook.png' %}" alt="">
        <img src="{% static 'core/img/youtube.png' %}" alt="">
        <img src="{% static 'core/img/instagram.png' %}" alt="">
        <img src="{% static 'core/img/tiktok.png' %}" alt="">
        <img src="{% static 'core/img/twitter.png' %}" alt="">
        <img src="{% static 'core/img/gmail.png' %}" alt="">
      </section>
    </article>

    {% endblock contenido %}