{% extends 'core/plantilla.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="formulario">
  <form action="" method="post" id="login">
    <div class="mb-3">
      {% csrf_token %}
      {{form|crispy}}
    </div>
    <div class="d-grid gap-2">
      <button type="reset" class="btn btn-danger">Limpiar</button>
      <button type="submit" class = "btn btn-success">Enviar</button>
      <a href="{% url 'registro' %}">¿no tiene una cuenta?</a>
  </div>
  </form>
</div>
{% endblock %}